@tailwind base;
@tailwind components;
.card-profile-container{
    position: absolute;
    top: -20%;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

@tailwind utilities;
.text-xs{
        @apply
        font-size: 0.75rem;
        line-height: 1rem;
}


@layer components{
    .card-profile{
        @apply
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

